.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    
}
@media (min-width: 600px) {
    .card {
      width: 200px;
      height: 200px;
    }
  }
  .card-img-top{
    align-items: center;
  }
  .contactUs{
    align-content: center;
  }

