.package-card {
    width: 400px;
    height: 250px;
    background-color: burlywood;
  }
  

  
  @media (min-width: 600px) {
    .package-card {
      width: 400px;
      height: 400px;
    }
  
    .package-img-top {
      margin-left: 150px;
      margin-top: 70px;
      width: 300px;
      height: 300px;

    }
  }
  
  @media (min-width: 900px) {
    .package-card {
      width: 600px;
      height: 600px;
    }
  }
  .package-body{
    height: 100px;
    width: 200px;
    text-align: center;
  }
  .package-heading{
    text-align: center;


  }
  .package-text{
    text-align: center;
  }
  .center-text{
    text-align: center;
  }
  