.card{
    
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background-color: #E9967A;
}
@media(min-width: 600px){
    .card{
        width: 300;
        height: 300;
    }
    
}

    .center-image {
        display: block; 
        margin: 0 auto;
        text-align: center; 
        height: 180px;
        width: 180px;
      }

.Breakfast{
    align-content: center;
    background-color: brown;
}
.btn-custom{
    background-color: #6b2d22;
    color: bisque;
    border: #6b2d22;
}
.card-body{
    background-color: #E9967A;
}
.card-text{
    font-size: large;
    color: whitesmoke;
    background-color: crimson;
  }

  



    