
.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  #tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
  }
  
  .home-header {
    padding-top: 80px !important;
    text-align: center;
  }  
  .home-section {
    position: relative;
    z-index: -1;
    background-image:url(./pages/home/bg_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px !important;
    padding-top: 30px !important;
    padding-left: 20px;
    color: #6b2d22;
    scroll-behavior: smooth;
  }
  .home-about-section{
    position: relative;
    padding-bottom: 90px !important;
    padding-top: 70px !important;
    color: #6b2d22;
    scroll-behavior: smooth;
  }
  .home-about-social {
    text-align: center !important;
    padding-top: 25px;
  }
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 60px !important;
    height: 60px !important;
    text-align: center !important;
    font-size: 2.1em !important;
    line-height: 2em !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
    height: auto;
  }
  .icon-colour {
    color: #6b2d22 !important;
  }
  .w3-container{
    padding-top: 50px !important;
    padding-left: 50px !important;
    padding-bottom: 40px !important;
  }
/* CSS for initial state (hidden) */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px); /* Optional: Move element down */
  transition: opacity 0.5s, transform 0.5s;
}

/* CSS for animated state (visible) */
.animate-on-scroll.active {
  opacity: 1;
  transform: translateY(0);
}


  